


<div *ngIf="outfit">
    <h1>{{ outfit.name }}</h1>

  <mat-grid-list cols = "4" rowHeight = "300px">

    <mat-grid-tile [colspan] = "1" [rowspan] = "2">
      <div>
        <img src="assets/img/{{ outfit.img }}" height="500px">
        <h3>Total outfit cost: {{ outfit.price | currency }}</h3>
        <h3>Credit <strong>{{outfit.insta}}</strong></h3>
      </div>
      
    </mat-grid-tile>

    <mat-grid-tile [colspan] = "1" [rowspan] = "1" *ngFor = "let clothes of outfit.clothes ;let n = index">
      <div>
        <h2>{{clothes.name}}</h2>
        <img src="assets/img/{{clothes.img}}" height="200px"> 
        <h3>{{clothes.store}} - {{clothes.price}}</h3>

      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>