<h1>Fall 2020 Sports Vibes Starter Pack</h1>
<mat-grid-list cols = "4" rowHeight = "300px">

  <mat-grid-tile [colspan] = "1" [rowspan] = "1">1</mat-grid-tile>

  <mat-grid-tile [colspan] = "1" [rowspan] = "2">
    <div>
      <img src="assets/inspo.jpg" height="500px">
      <h3>Total outfit cost: $320</h3>
      <h3>Creidt <strong>@VedaSuperModel</strong></h3>
    </div>
    
  </mat-grid-tile>

  <mat-grid-tile [colspan] = "1" [rowspan] = "1">
    <div>
      <h2>cool womens jacket</h2>
      <img src="assets/jacket.jpeg" height="200px"> 
      <h3>$200</h3>

    </div>

  </mat-grid-tile>
  <mat-grid-tile [colspan] = "1" [rowspan] = "1">1</mat-grid-tile>
  <mat-grid-tile [colspan] = "1" [rowspan] = "1">1</mat-grid-tile>
  <mat-grid-tile [colspan] = "1" [rowspan] = "1">
    <div>
      <h2>super warm sweaties</h2>
      <img src="assets/sweats.jpeg" height="200px"> 
      <h3>$120</h3>

    </div>
    
  </mat-grid-tile>
  <mat-grid-tile [colspan] = "1" [rowspan] = "1">1</mat-grid-tile>

  
</mat-grid-list>