<br>
<mat-grid-list cols = "4" rowHeight = "300px">

  <mat-grid-tile [colspan] = "1" [rowspan] = "2">
    <div>
        <h2>Fall 2020 Sporty</h2>
        <h3>Starter Pack</h3>
      <a href="outfit"><img src="assets/inspo.jpg" height="500px"></a>
    </div>
    
  </mat-grid-tile>

  <mat-grid-tile [colspan] = "1" [rowspan] = "2">
    <div>
        <h2> Boho Springtime </h2>
        <h3>Starter Pack</h3>
      <img src="assets/img/bridge.PNG" height="500px">
    </div>
    
  </mat-grid-tile>

  <mat-grid-tile [colspan] = "1" [rowspan] = "2">
    <div>
        <h2>Flirty back to school 2020</h2>
        <h3>Starter Pack</h3>
      <img src="assets/img/GitaFit.jpg" height="500px">
    </div>
    
  </mat-grid-tile>
  
</mat-grid-list>